.signinContainer{
    background-image: linear-gradient(rgb(205, 89, 0),rgb(255, 237, 163));
    height: 100%;
}

h2{
    text-align: center;
    background-repeat: no-repeat;
    background-position: right;
}

    /* background-image: url('../../assets/imgs/userIcon.jpg');
    background-size: 16px; */
    
#signinButton{
    width: 100px;
    background-color: rgb(255, 164, 95);
}