.loginContainer{
    background-image: linear-gradient(rgb(205, 89, 0),rgb(255, 237, 163));
    height: 100%;
    width: 100%;
    position: absolute;
}

h2{
    text-align: center;
}
#a{
    text-align: right;
    margin-right:30px;
    padding-top: 20px;
}
#userPlace {
    margin: auto;
}
#button {
    left: 400px;
    position: relative;
}
#loginButton{
    width: 100px;
    background-color: rgb(255, 164, 95);
}