.loginContainer{
    background-image: linear-gradient(rgb(205, 89, 0),rgb(255, 237, 163));
    height: 100%;
}

h2{
    text-align: center;
}
#a{
    text-align: right;
    margin-right:30px;
    padding-top: 20px;
}
#button {
    margin-left:780px;
}
#loginButton{
    width: 100px;
    background-color: rgb(255, 164, 95);
}